extends base
block extraHead
    link(rel='stylesheet', href='/css/administratifArchiveTypes.css')
block content
    main.main
        .sidebar
            ul
                li
                    a(href="/manage-archives/administratif-archives/diplome", target="_blank") Diplome
                li
                    a(href="/manage-archives/administratif-archives/certificat-scolaire", target="_blank") Certificat Scolaire
                li
                    a(href="/manage-archives/administratif-archives/certificat-de-bon-moralite", target="_blank") Cert De Bon Moralite
