extends base
block content 
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset Your Password
      form.form1
        .form__group
          label.form__label(for="email") Email address
          input.form__input(type="email", id="email", placeholder="you@example.com", required)
        .form__group.flx--back
          button.btn.btn--green Reset Password
          a.btn.btn--back(href='/') BACK
