extends base
block extraHead
    link(rel='stylesheet', href='/css/manageDemandes.css')
block content
    main.main
        .sidebar
            ul
                li
                    a(href="/manage-archives/etude-archives", target="_blank") Etude Archives
                li
                    a(href="/manage-archives/administratif-archives", target="_blank") Administratif Archives

