extends base
block extraHead 
    link(rel='stylesheet', href='/css/problemsPage.css')
block content
    main.main
        .sidebar
            ul
                li
                    a(href="/problems-page/my-problems", target="_blank") My problems
                li
                    a(href="/problems-page/report-problem", target="_blank") Report a problem


