.reportproblem-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading-secondary {
  font-size: 2rem;
  margin-bottom: 20px;
}

.form__group {
  margin-bottom: 20px;
}

.form__label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form__input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}
textarea.form__input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  height: 150px;
}

.form__input:focus,
textarea.form__input:focus {
  border-color: #4caf50;
}
.main {
  background-image: url("/mainImages/eating.jpg");
  background-size: cover;
  background-position: center;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}

.btn--send {
  margin-left: 390px;
}
