/* Basic Styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.main {
  display: flex;
  /* min-height: 100vh; */
  background-image: url("/mainImages/eating.jpg");
  background-size: cover;
  background-position: center;
  height: 51vh;
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-right: 20px;
  border-radius: 10px;
  padding-bottom: 120px;
}

.sidebar ul {
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #555;
}
h1 {
  padding-top: 40px;
  padding-left: 90px;
}
h1 span {
  background-color: #ffcc00; /* Background color for the text */
  color: #333; /* Text color */
  padding: 5px 10px; /* Add padding to the text to create space */
  border-radius: 5px; /* Add border-radius for rounded corners if desired */
}
